*{
	padding: 0;
	margin: 0;
}

header{
	position: fixed;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	display:flex;
	justify-content:space-around;
	align-items:flex-start;
	padding: 20px;
	background-color: #31475e;
	color: #e8e8e8;
	font-size: 20px;
}

header a:hover{
	text-decoration: underline;
}

header a{
	color: #e8e8e8;
	text-decoration: none;
	padding: 20px;
}

main{
	background-color: #e8e8e8;
}

#sec1{
	justify-content: center;
	text-align: center;
	padding: 360px;
	height: 210px;
}

#sec1 h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 80px;
	color: #212832;
	padding: 20px;
}

#sec1 p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
	color: #212832;
	padding: 20px;

}

#sec2{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 50px;

}

#sec2 aside{
	width: 35%;
	margin: auto 50px;
}

#sec2 div{
	width: 65%;
	
}

#sec2 h3, #sec2 p, #sec2 a{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #212832;
}

#sec2 a:hover{
	font-weight: bold;
}

figure{
	margin: auto;
	border: solid ;
	width: 900px;
	height: 350px;
	border-color: #212832;
	transition: transform .1s;
}

figure:hover{
	transform: scale(1.05);
}

footer{
	display: flex;
	background-color: #31475e;
	justify-content: center;
	height: 50px;
	align-items: center;
}

footer a, span{
	font-family: "Source Sans Pro" , sans-serif;
	color: #e8e8e8;
	text-decoration: none;
	font-size: 18px;
}

#sec3{
	justify-content: center;
	text-align: center;
	height: 708px;
	padding-top: 220px;
}


#sec3 h1{
	font-family: 'Open Sans', sans-serif;
	color: #212832;
	font-size: 90px;
	margin-bottom: 50px;
}

#sec3 p{
	font-family: "Source Sans Pro" , sans-serif;
	color: #212832;
	margin-top: 7px;
	font-size: 25px;
}

#sec3 div{
	height: 60px;
	margin: auto;
	width: 50%;
}

#sec3 img{
	height: 45px;
	width: 45px;
}

#picto{
	padding-top: 80px;
}

#picto img{
	margin: 0 20px;
	transition: transform .1s;
}

#picto img:hover{
	transform: scale(1.1);
}

#picto p{
	padding-bottom: 20px;
}

#mail{
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 20px 0;
}

#mail img{
	padding-right: 10px;
}

#phone{
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 20px 0;
}